@import "tailwindcss";

@theme inline {
  --color-brandColor: #2d314d ;
}

@utility container{
  width: 100%;
  margin : 0 auto;
  
  @variant xl{
    width: 1440px;
  }
}

body{
  @apply overflow-x-hidden
}

.navItems{
  @apply flex items-center gap-10 h-[10dvh]
}

.navItems li{
 @apply h-full font-medium text-lg text-[#000]
}

.navItems li a{
  @apply h-full flex items-center relative
}

.navItems a::after{
  @apply content-[""] absolute bottom-0 left-0 w-full scale-0 h-1 rounded-full bg-[#000] duration-300
}

.navItems a:hover::after{
  @apply scale-100
}

.footerSocials{
  @apply flex items-center gap-4 
}

.footerSocials li a {
  @apply text-[#f3f4f6] text-3xl hover:text-[#31d35c] duration-200
}

.footerLinks{
  @apply flex flex-col gap-4
}

.footerLinks li a{
  @apply text-[#f3f4f6] hover:text-[#31d35c] duration-200
}