@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility container{
  width: 100%;
  margin : 0 auto;
  
  @variant xl{
    width: 1440px;
  }
}

body{
  @apply overflow-x-hidden
}

.navItems{
  @apply flex items-center gap-10 h-[10dvh]
}

.navItems li{
 @apply h-full font-medium text-lg text-[#000]
}

.navItems li a{
  @apply h-full flex items-center relative
}

.navItems a::after{
  @apply content-[""] absolute bottom-0 left-0 w-full scale-0 h-1 rounded-full bg-[#000] duration-300
}

.navItems a:hover::after{
  @apply scale-100
}